<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <h4> BUSINESS MODULE </h4>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>
    <div class="container mt-4">
        <div class="jumbotron">
    <h1 class="display-4">COGNIZANT</h1>
    <p class="lead"></p>
    <hr class="my-4">
    <p>Cognizant Technology Solutions, founded on January 26, 1994 by Kumar Mahadeva and Francisco D'Souza, is an American multinational IT services provider. It also provides consulting and business process outsourcing (BPO) services. In the course of dot com boom, it flourished by receiving the application maintenance work that the big corporations were reluctant to carry out. Gradually, it moved into application development, complex systems integration and consulting work. Cognizant grew rapidly during the 2000s and became a Fortune 500 company in 2011. It is a member of the NASDAQ-100, the S and P 500, the Forbes Global 2000 and the Fortune 500 and is positioned among the top performing and fastest growing companies in the world..</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://www.cognizant.com/us/en/about-cognizant" role="button">Learn more</a>
  </p>
</div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
</body>
</html>